@model IEnumerable<FinalProject.Models.Variant>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Список вариантов ответа</title>
    <link type="text/css" rel="stylesheet" href="../../Content/MainVariant.css" />
</head>
<body>
    <a href="/Authorisation/index" class="link">Перейти на главную</a>
    <a href="/Question/GetQuestions/@ViewBag.QuestionnaireId" class="link">Перейти к вопросам анкеты</a>
    <p class="form-label">Формулировка вопроса: @ViewBag.QuestionFormulation</p>
    @if (Model.Count() > 0)
    {
        foreach (var vari in Model)
        {
            using (Html.BeginForm("MyAction", "Variant", FormMethod.Post, new { @class="Form"}))
            {
                <p class="form-label">Номер ответа: @vari.Number</p>
                <br />
                <p class="form-label">Формулировка ответа: @vari.AnswerFormulation</p>
                <br />
                <input type="hidden" name="Id" value="@vari.Id"/>
                <input type="hidden" name="QuestionId" value="@vari.QuestionId"/>
                <button name="action" value="edit">Редактировать</button>
                <button name="action" value="delete">Удалить</button>
            }
        }
    }
    else
    {
        <div class="clear-area">Вариантов ответа пока нет</div>
    }
    <div>
        @using (Html.BeginForm("AddVariantForm", "Variant", FormMethod.Post))
        {
            <input type="hidden" name="QuestionId" value="@ViewBag.QuestionIdentify"/>
            <button class="sub">Добавить</button>
        }
    </div>
</body>
</html>

