@model FinalProject.Models.Question

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>
        Добавление вопроса
    </title>
    <link type="text/css" rel="stylesheet" href="../../Content/AddQuestion.css" />
</head>
<body>
    <div>
        <a href="/Authorisation/index" class="link">На главную</a>
        <br />
        @using (Html.BeginForm("AddQuestion", "Question", FormMethod.Post, new { @class = "Form"}))
        {
            @Html.LabelFor(model => model.Formulation, "Формулировка вопроса: ", new { @class = "form-label"})
            @Html.TextBoxFor(model => model.Formulation, new { @class = "editor"})
            <br />
            @Html.LabelFor(model => model.Questionnaire.Name, "Название анкеты: ", new { @class = "form-label"})
            @Html.DisplayFor(model => model.Questionnaire.Name)
            @Html.HiddenFor(model => model.QuestionnaireId)
            <br />
            <input type="submit" value="Добавить вопрос"/>
        }
    </div>
</body>
</html>

