@model IEnumerable<FinalProject.Models.Question>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Список вопросов анкеты</title>
    <link type="text/css" rel="stylesheet" href="../../Content/getQuestions.css" />
</head>
<body>
    @Html.ActionLink("На главную", "Index", "Authorisation", null, new { @class = "link" })
    <br />
    <p class="p-span">@ViewBag.QuestionnaireName</p>
    @if(Model.ToList().Count > 0)
    {
        foreach(var question in Model)
        {
            using (Html.BeginForm("MyAction", "Question", FormMethod.Post, new { @class = "Form"}))
            {
                @Html.LabelFor(modelItem => question.Formulation, "Формулировка вопроса: ", new { @class = "form-label"})
                @Html.DisplayFor(modelItem => question.Formulation)
                @Html.HiddenFor(modelItem => question.Id)
                @Html.HiddenFor(modelItem => question.QuestionnaireId)
                <br />
                <a href="~/Variant/Index/@question.Id" class="link">Перейти к вариантам ответов</a>             
                <br />
                <br />
                <button name="action" value="edit">Редактировать</button>
                <button name="action" value="delete">Удалить</button>                
            }
                  
        }
    }
    else
    {
        <div class="div">Вопросов в анкете пока нет</div>
    }
    @using(Html.BeginForm("AddQuestionForm", "Question", FormMethod.Post))
    {
        <input type="hidden" name="QuestionnaireId" value="@ViewBag.QuestionnaireId"/>
        <button class="sub">Добавить вопрос</button>
    }

</body>
</html>

