@model IEnumerable<FinalProject.Models.Question>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Список вопросов анкеты</title>
</head>
<body>
    @Html.ActionLink("На главную", "Index", "Home")
    <br />
    <p>@ViewBag.QuestionnaireName</p>
    @if(Model.ToList().Count > 0)
    {
        foreach(var question in Model)
        {
            <div style="border-width:1px; border-style:solid; border-color: black">
            @using (Html.BeginForm("MyAction", "Question", FormMethod.Post))
            {
                @Html.LabelFor(modelItem => question.Formulation, "Формулировка вопроса: ")
                @Html.DisplayFor(modelItem => question.Formulation)
                @Html.HiddenFor(modelItem => question.Id)
                @Html.HiddenFor(modelItem => question.QuestionnaireId)
                <br />
                <a href="~/Controllers/Variant/Index/@question.Id">Перейти к вариантам ответов. @question.Id</a>             
                <br />
                <button name="action" value="edit">Редактировать</button>
                <button name="action" value="delete">Удалить</button>                
            }
            </div>        
        }
    }
    else
    {
        <div>Вопросов в анкете пока нет</div>
    }
    @using(Html.BeginForm("AddQuestionForm", "Question", FormMethod.Post))
    {
        <input type="hidden" name="QuestionnaireId" value="@ViewBag.QuestionnaireId"/>
        <input type="submit" value="Добавить вопрос"/>
    }

</body>
</html>

